.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container .button-click {
  border-radius: 50px;
  background-color: white;
  border: 2.4px solid #376a57;
  padding: 10px 20px 10px 20px;
  font-size: 1.2rem;
  color: #376a57;
  font-weight: 500;
}

.button {
  display: flex;
  gap: 25px;
  padding: 50px;
}
.active {
  color: white !important;
  background-color: #376a57 !important;
  border: none !important;
}
.car-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  padding-bottom: 50px;
  justify-content: center;
  text-align: left;
}
.cards {
  width: 300px;
  padding: 25px;
  height: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  align-items: center;
  border: 2.4px solid#376a57;
  transition: ease-in-out 0.5s;
}
.cards img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  margin-bottom: 15px;
}
.cards h1 {
  width: 100%;
  text-align: left;
  font-size: 1.8rem;
  color: #376a57;
}
.cards h2 {
  width: 100%;
  text-align: left;
  font-size: 1.2rem;
}
.cards:hover {
  transform: scale(1.1);
}
